// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap=Lora:ital,wght@1,300;1,500&display=swap');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

// Custom
@import "custom";


nav {
font-family: 'Roboto', sans-serif;
	.logo {
		height: 55px;
	}

	.navbar-nav {
		.nav-item {
			.nav-link {
				font-weight: 600;
				font-size: 1.15em;
			}
		}
	}
}


p {
	font-size: 1.1rem;
}

#popup {
    position: fixed;
    background-color: rgba(0,0,0,0.58);
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow:scroll;
    z-index:99999;

    #closePopup {
      width: 40px;
      padding: 10px;
      position: absolute; 
      top: 0px;
      right:0px;
      cursor: pointer;
      background-color: rgb(20,29,36);
    }
}

.btn {
	font-weight: 800;
	border-radius: 0px;
	font-size: 1.15em;
}

footer {
	font-family: 'Roboto', sans-serif;

	h3 {
		font-weight: 600;
	}

	p {
		font-size: 1.1em;
		line-height: 1.8;
	}
}


main {
	font-family: 'Roboto', sans-serif;

	header {
		position:relative;
		background-image:url('/images/pizza-header.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; 
		background-position: top center;
		min-height: 60vh;
	}


	.start {
		position:relative;
		background-image:url('/images/start.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; 
		background-position: bottom center;
		min-height: 45vh;

		h1 {
			transform: rotate(-2deg);
			font-size: 3em;
			font-weight:500;
		}

		h2 {
			transform: rotate(-2deg);
			font-size: 3em;
			font-weight:900;
		}

		p {
			transform: rotate(-2deg);
			font-size: 1.7em;
			font-weight:400;
		}
	}

	.break {
		position:relative;
		background-image:url('/images/break.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll; 
		background-position: bottom center;
		min-height: 45vh;

		h2 {
			transform: rotate(-2deg);
			font-size: 3em;
			font-weight:900;
		}
	}

	h2 {
		font-weight:900;
		font-size: 1.55em;
	}

}

@include media-breakpoint-down(md) {
	main {
		h2 {
			font-weight:900;
			font-size: 1.45em;
		}

		.start {

			h1 {
				font-size: 1.9em;
			}

			h2 {
				font-size: 1.8em;
			}
		}

		.break {

			h2 {
				font-size: 1.9em;
			}
		}
	}
}